
alias upd='topgrade -y'
alias cd..='cd ..'
alias cl='clear'
alias mine='sudo xmrig -o gulf.moneroocean.stream:10128 -u 41t9WMNn6mfXp5wfeJnahq2jNCMKbzPBcCoEMg4Khqpve2BFLDq29v2dWwpMc4rx7BDitWA4zH8keY6dsoiHD6pb5N1YFYQ -p laptop-primary'
alias shut='shutdown now'
alias cle='wipeclean'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias cmatrix='unimatrix -af'
alias sudo='doas'
alias updl='topgrade --disable remotes -y'
alias zspotify='zspotify -md ~/Hudba'
